<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
 
</head>
<body>
	<div class="col-md-4">
		<h4>Student has been successfully added !!</h4>
	</div>
	
    <div style="padding:0 20px">
    
    <a href="viewEmployees" class="btn btn-success">View Employees</a>
    <a href="addEmployee" class="btn btn-success">Add Employee</a>
	</div>    
</body>
</html>